{% extends "main/layout.html" %}

{% block title %}

{% endblock %}


{% block body %}
<body>
<br>
<div class="w3-margin w3-jumbo white"> Filter  </div>
<form>
    <div style="margin-left: 3.5%">
    <label style ="margin-right: 0.5%" class="w3-padding-1">Course</label> 
    <input type="text" id="course" name="Course">
    </div>
    <br>
    <div style="margin-left: 3.5%">
    <label style ="margin-right: 0.5%" class="w3-padding-1">Name</label> 
    <input type="text" id="name" name="Name">
    </div>
    <br>
    <div style="margin-left: 3.5%">
    <label style ="margin-right: 0.5%" class="w3-padding-1">Location</label> 
    <input type="text" id="location" name="Location">
    </div>
    <br>
    

    


</form>



</body>
{% endblock %}