{% extends "main/templatesignup.html" %}
<html>
<body>
  

<!-- Navbar -->

  {% block body %}
  <br>
  <div style="margin-top:3% ;">
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active"> Sign In </h2>

  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="static/images/only.png" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      <form>
        <input type="text" id="username" class="fadeIn second" name="username" placeholder="username">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>
  
      </div>
  
    </div>
  </div>

</body>
  
  {% endblock %}

</body>
</html>