{% extends "main/templatesignup.html" %}
<html>
<style>
</style>
<body>
  {% block body %}
  
  <div style="margin-top:3% ;">
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h1 class="active w3-margin"> Select your roles </h1>

  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="static/images/only.png" id="icon" alt="User Icon" />
      </div>
  
    
      <form>
        <a href="/tutorsignup"><input type="button" class="fadeIn fourth" value="Tutors" style="margin-bottom:1em;"></a>
        <a href="/studentsignup"><input type="button" class="fadeIn fourth" value="Student"></a>
      </form>
  
      
  
    </div>
  </div>
  </div>
</div>
  {% endblock %}

</body>
</html>