{% extends "main/templatesignup.html" %}
<html>
<body>
  

<!-- Navbar -->

  {% block body %}
  <br>
  <div style="margin-top:3% ;">
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active"> Sign In </h2>

  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="static/images/only.png" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      <form>
        <input type="text" id="username" class="fadeIn second" name="username" placeholder="Username">
        <input type="text" id="password" class="fadeIn third" name="password" placeholder="Password">
        <br>
        <br>
        <input href="/home" type="submit" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-green   w3-blue" value="Login">
      </form>
      
      
  
      
  
    </div>
  </div>

</body>
  
  {% endblock %}

</body>
</html>