{% extends "main/templatesignup.html" %}
<style>


</style>

<body>
{% block body %}
<div style="margin-top: 1%;">
    <div class="row">
        <div class="column" style="background-color:rgb(156, 215, 238);">
            <div class="a">
                <img style="width:520px;height:520px;margin-top: 22.25% ;" src="static/images/only.png" alt="ninja">      
              </div>
    </div>
    <div class="column" style="background-color:rgb(255, 255, 255);">
<h1 class="w3-margin w3-jumbo white">Sign up for Student</h1>


<form>
    <h5 class="w3-padding-1">Username:</h5>
    <input type="text" id="username" name="Username" placeholder="Username" ><br>
    <h5 class="w3-padding-1">Password:</h5>
    <input type="text" id="password" name="Password" placeholder="Password" ><br>
    <h5 class="w3-padding-1">Conferm Password:</h5>
    <input type="text" id="password" name="Password" placeholder="Conferm Password" ><br>
    <h5 class="w3-padding-1">First Name:</h5>
    <input type="text" id="First Name" name="First Name " placeholder="First Name"><br>

    
    <h5 class="w3-padding-1">Surname:</h5>
    <input type="text" id="Surname" name="Surname" placeholder="Surname"><br>
    
    <h5 class="w3-padding-1">Nickname:</h5>
    <input type="text" id="Nickname" name="Nickname" placeholder="Nickname"><br>
    
    <h5 class="w3-padding-1">Degree:</h5>
    <input type="text" id="Degree" name="Degree" placeholder="Degree"><br>
    <br>
    <input type="submit" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-green   w3-blue" value="Register">
</form>
</div>
</div>

{% endblock %}
</body>
