{% extends "main/templatesignup.html" %}
<style>


</style>

<body>
    {% block body %}
    <br>

    <div style="margin-bottom: 5em;">
    <div class="row">
        <div class="column" style="background-color:rgb(255, 255, 255);">
            <div class="a">
                
            <img style="width:520px;height:520px;margin-top: 20% ;" src="static/images/only.png" alt="ninja">        </div>
            </div>
        
        <div class="column" style="background-color:rgb(212, 252, 253);">
            <form>

                <h1 class="w3-jumbo">Sign up for Tutor</h1>

                <h5 class="w3-padding-1">Username:</h5>



                <input type="text" id="username" name="Username" placeholder="Username" ><br>


                <h5 class="w3-padding-1">Password:</h5>



                <input type="text" id="password" name="Password" placeholder="Password" ><br>

                <h5 class="w3-padding-1">Conferm Password:</h5>



                <input type="text" id="password" name="Password" placeholder="Conferm Password" ><br>


                <h5 class="w3-padding-1">First Name:</h5>



                <input type="text" id="first Name" name="First Name" placeholder="First Name" ><br>


                <h5 class="w3-padding-1">Surname:</h5>



                <input type="text" id="surname" name="Surname" placeholder="Surname"><br>


                <h5 class="w3-padding-1">Nickname:</h5>



                <input type="text" id="nickname" name="Nickname" placeholder="Nickname"><br>



                <h5 class="w3-padding-1">Age:</h5>




                <input type="number" min="1" step="1" id="age" name="Age"><br>

                <form action="/action_page.php">
                    
                        <h5 class="w3-padding-1">Profile:</h5>
                   
                    <input type="text" id="profile" name="Prolife"><br>
                    <br>
                    
                        <input type="submit"
                            class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-green   w3-blue"
                            value="Register">
                    </div>
                </form>
                
        </div>
    </div>
    
    {% endblock %}
</body>